###1.write a python program to sum all the items in a list

In [2]:
b=[1,2,3,4,5]
sum=0
for i in b:
  sum +=i
print(sum)

15

###2. Write a Python program to get the largest number from a list.

In [11]:
b=[1,2,3,4,5]
largest=b[0]
for i in b:
  if(i>largest):
    largest=i
print(largest)

5

###3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [14]:
b=['abc', 'xyz', 'aba', '1221']
count=0
for string in b:
  if(len(string)>=2 and string[0]==string[-1] ):
    count +=1
print(count)

2

###4. Write a Python program to remove duplicates from a list.

In [20]:
l=['a','a','b','c','c']
b=set(l)
c=list(b)
print(c)

['c', 'a', 'b']

###5. Write a Python program to check if a list is empty or not.

In [23]:
l=['a','a','b','c','c']
if l:
  print("list is not empty")
else:
  print("list is empty")

list is not empty

###6. Write a Python program to filter the list if the length of the character is < 4
Sample List : ['abc', 'xyz', 'aba', '1221']

In [30]:
l=['abc','xyz','aba','1221']
b=[i for i in l if len(i) <4]
print(b)

['abc', 'xyz', 'aba']

###7..Write a Python program to find the second largest number in a list.

In [38]:
l=[20,30,40,50]
b=l.sort()
c=l[-2]
print(c)

40

###8. Write a Python program to reverse a list at a specific location

In [45]:
b=[1,2,3,4,5,6]
location=int(input("Enter a location to reverse the list :"))
if (location<0 or location>=len(b)):
  print("invalid location")
else:
  newmylist1=b[:location+1]
  newmylist1.reverse()
  newmylist2=b[location+1:]
  newmylist3=newmylist1+newmylist2
print(f"List after reversing at the location {location} is : {newmylist3}")

Enter a location to reverse the list :4
List after reversing at the location 4 is : [5, 4, 3, 2, 1, 6]

###9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false

In [46]:
b=  ["apple", "banana", "kiwi", "banana", "apple"]
if b:
    if b == b[::-1]:
        print("The given list is palindrome")
    else:
        print("The given list is not palindrome")
else:
    print("List is empty")

The given list is palindrome

###10. Write a Python a program to find the union and intersection of two lists.

In [47]:
a=[1,2,3,4,5,6]
b=[2,4,8,9,12]
union=list(set(a+b))
intersection=[i for i in a if(i in b)]
print(f"Union of the two list is : {union} ")
print(f"intersection of the two list is : {intersection} ")

Union of the two list is : [1, 2, 3, 4, 5, 6, 8, 9, 12]
intersection of the two list is : [2, 4]

###11.Write a Python script to sort (ascending and descending) a dictionary by value

In [48]:
a={'a':5,
        'b':1,
        'c':3}
a_asc=dict(sorted(a.items(),key=lambda item:item[1]))
b_dec=dict(sorted(a.items(),key=lambda item:item[1],reverse=True))
print(f"The dictionary in ascending : {a_asc}")
print(f"The dictionary in descending : {b_dec}")

The dictionary in ascending : {'b': 1, 'c': 3, 'a': 5}
The dictionary in descending : {'a': 5, 'c': 3, 'b': 1}

###12. Write a Python script to check whether a given key already exists in a dictionary.

In [58]:
b={'a':1,'b':2,'c':3}
k=input("Enter the key to be searched in dictionary : ")
if k in b:
  print("The given key exists in dicitionary ")
else:
  print("The given key doesnot exists in dicitionary ")

Enter the key to be searched in dictionary : a
The given key exists in dicitionary

###13.Write a Python program to sum all the values in a dictionary.

In [59]:
a={'a':1,'b':2,'c':3}
total=0
for i in a.values():
  total+=i
print(f"The sum of all the values in the dictionay is : {total}")

The sum of all the values in the dictionay is : 6

###14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}

In [60]:
num=int(input("Enter a number :"))
if(num>=10):
  print("Entered number must be less than 10 ")
else:
  mydict={i:i*i for i in range(1,num+1)}
  print(f"The required dictionay is :{mydict}")

Enter a number :3
The required dictionay is :{1: 1, 2: 4, 3: 9}

###15.Write a Python program to sort a given dictionary by key.

In [73]:
a={"b":"ball","r":"rat","a":"apple","c":"car"}
b=dict(sorted(a.items()))
print(b)

{'a': 'apple', 'b': 'ball', 'c': 'car', 'r': 'rat'}

###16.  Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [71]:
string="learnpython"
a={}
for i in string:
  if(i in a):
    a[i]+=1
  else:
    a[i]=1
print(f"The dictionay from the string is :{a}")

The dictionay from the string is :{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

###17. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [72]:
shopitems={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
sorteditems=sorted(shopitems.items(),key=lambda item: item[1],reverse=True)
topthreeitems=sorteditems[:3]
print(f"The top three items in the shop is :{topthreeitems}")

The top three items in the shop is :[('item4', 55), ('item1', 45.5), ('item3', 41.3)]