<a href="https://colab.research.google.com/github/pksalma/PYTHON-ASSIGNMENTS/blob/main/python_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program to create a function show_employee() using the following conditions. It should accept the employeeâ€™s name and salary and display both. If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary=9000):
  print(f"Name: {name} salary: {salary}")
show_employee("Ben",12000)
show_employee("sahda")

Name: Ben salary: 12000
Name: sahda salary: 9000


2.Create an outer function that will accept two parameters, a and b Create an inner function inside an outer function that will calculate the addition of a and b At last, an outer function will add 5 into addition and return it

In [ ]:
def outter_function(a,b):
  def inner_function(a,b):
    return a+b
  output=inner_function(a,b)+5
  return output
output=outter_function(4,6)
print(f"Output is {output}")

Output is 15

3.Generate a Python list of all the even numbers between 4 to 30

In [ ]:

even=[n for n in range(4,31) if n%2==0]
print(f"Even numbers between 4 and 30 are :{even}")

Even numbers between 4 and 30 are :[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

4.Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.

In [ ]:
L=[1,2,3,4,5]
element=int(input("Enter element to be checked in the list :"))
result=filter(lambda x:x==element,L)
if(list(result)):
  print("The entered element is present in the list")
else:
  print("The entered element is not present in the list")

Enter element to be checked in the list :5
The entered element is present in the list

5.Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
result=sorted(points,key=lambda x:x[0]+x[1])
print (result)

[(1, 2), (3, 1), (0, 7), (5, 3)]

6.Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def even_digits():
  result=[]
  for n in range (1000,3001):
    digits=[int(digit) for digit in str(n)]
    if all(digit%2==0 for digit in digits):
      result.append(n)
  return result
output=even_digits()
print(output)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

7.Write a python function that accepts a sentence and calculate and return the number of letters and digits.

In [ ]:
def counter(sentence):
  letters=0
  digits=0
  for char in sentence:
    if(char.isalpha()):
      letters+=1
    elif(char.isdigit()):
      digits+=1
  return letters,digits
sentence="hello world! 123"
letters,digits=counter(sentence)
print(f"LETTERS {letters}")
print(f"DIGITS {digits}")

LETTERS 10
DIGITS 3

8.Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def convert(sentence):
  upper=map(str.upper,sentence)
  lower=map(str.lower,sentence)
  uniquechars=set(upper)|set(lower)
  return uniquechars
sentence="Hello world"
result=convert(sentence)
print(f"unique characters : {result}")

unique characters : {'r', 'E', 'd', 'W', 'w', 'R', 'h', 'O', ' ', 'e', 'H', 'D', 'l', 'L', 'o'}

9.Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:

def addition(list1,list2):
  sum=map(lambda x,y:x+y,list1,list2)
  return sum
def difference(list1,list2):
  difference=map(lambda x,y:x-y,list1,list2)
  return difference
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
sum=addition(list1,list2)
difference=difference(list1,list2)
print(f"The addition of the two list :{list(sum)}")
print(f"The difference of the two list :{list(difference)}")

The addition of the two list :[7, 9, 11, 13, 15]
The difference of the two list :[-5, -5, -5, -5, -5]

10.Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [ ]:
mydict={'anu': (6.2, 71), 'airin': (5.9, 65), 'ayan': (6.0, 68), 'sahda': (5.8, 66)}
filtereddict=filter(lambda item:item[1][0]>6 and item[1][1]>70,mydict.items())
print(f"height greter than 6ft and weight greater than 70kg :{dict(filtereddict)}")

height greter than 6ft and weight greater than 70kg :{'anu': (6.2, 71)}

11.Write a Python program to remove all elements from a given list present in another list using lambda.

In [ ]:
list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2= [2, 4, 6, 8]
filteredlist=filter(lambda x:x not in list2,list1)
print(f"List 1 after removing elements from list 2 :{list(filteredlist)} ")

List 1 after removing elements from list 2 :[1, 3, 5, 7, 9, 10]

12.Write a Python program to calculate the product of a given list of numbers using lambda.

In [ ]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
import functools
product=functools.reduce(lambda x,y:x*y,list)
print(f"The product of the given list of numbers :{product}")

The product of the given list of numbers :3628800

13.Write a Python program to multiply all the numbers in a given list using lambda.

In [ ]:
list=[4, 3, 2, 2, -1, 18]
import functools
product=functools.reduce(lambda x,y:x*y,list)
print(f"The result after multiplying all the numbers of the given list of numbers :{product}")

The result after multiplying all the numbers of the given list of numbers :-864

14.Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

In [ ]:
from functools import reduce
numbers_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
sum_tuples = reduce(lambda x, y: tuple(map(lambda a, b: a + b, x, y)), numbers_tuple)
average_tuple = tuple(map(lambda x: x / len(numbers_tuple), sum_tuples))
print(average_tuple)

(30.5, 34.25, 27.0)

15.Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

In [ ]:
mylist=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
sortedlist=sorted(mylist,key=lambda x:(isinstance(x,str),x))
print(f"Sorted list :{sortedlist}")

Sorted list :[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

16.Write a Python program to count the occurrences of items in a given list using lambda.

In [ ]:
mylist=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
mydict={}
for i in mylist:
  if i in mydict:
    mydict[i]+=1
  else:
    mydict[i]=1
print(f"The occurrences of items in a given list :{mydict}")

The occurrences of items in a given list :{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}